{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description }}
        </div>
        <div>
            {{ form.status.label }}
            {{ form.status }}
        </div>
        <div>
            {{ form.tags.label }}
            {{ form.tags }}
            <small>(Apply multiple category tags by separating them with a comma. Ex: "Hard, HTML")</small>
        </div>
        {{ form.submit }}
    </form>
{% endblock %}