{% extends "base.html" %}

{% block content %}
<div class="welcome-container">
    <pre class="ascii-art">
   __                      _         _            _   _ 
  / /  __ _ _ __ ___      / \   _ __(_) ___ _ __ | |_(_)
 / /  / _` | '__/ __|    //_\\ | '__| |/ _ \ '_ \| __| |
/ /__| (_| | |  \__ \   / ___ \| |  | |  __/ | | | |_| |
\____/\__,_|_|  |___/  /_/   \_\_|  |_|\___|_| |_|\__|_|
    </pre>
    <h1 class="welcome-title">Welcome to my Multifunctional Personal Website</h1>
    <p class="welcome-text">
        This space serves as a hub for my various projects, interests, and professional endeavors. 
        Feel free to explore and discover more about my work and passions.
    </p>
    <p class="contact-info">
        For professional opportunities or collaborations, please contact me at:
        <a href="mailto:lars.arienti@gmail.com" class="email-link">lars.arienti@gmail.com</a>
    </p>
</div>
{% endblock %}
